@import url(http://fonts.googleapis.com/css?family=Raleway:300);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#game-board img {
    width: 25%;
    height: 25%;
    padding: 5px;
    box-sizing: border-box;
}

main {
    margin:20px;
    padding-left: 5em;
    padding-right: 5em;

}

#game-over {
    font-size: 36px;
    color: #FFFFFF;
    display: inline-block;
}

#gameFinish {
    font-size: 24px;
    color: #FFFFFF;
    display: inline-block;
}
